<div  ng-include = "'views/header.html'"></div>
<div class="container">
  <div class="about-main">
    <h1 class="about-heading">About <span class="crowd_count">Us</span></h1>
    <div class="row paragraph" >
      <blockquote class="col-md-8"><p>Crowd_Count++ is aimed at counting the amount of people in a room, in a crowd, at a bus station, or in almost any other situation. There are many examples of uses for our system. One such example is the MTA buses in New York City. Being able to feed that footage into a software system that counts the amount of passengers on a bus would enable the MTA to make better decisions when dispatching buses from their depots, and thus creating a more efficient transportation system for the citizens of NYC. This method would also be cheaper than installing hardware sensors on each bus. Also, It can be used by business for counting the number of people that travel through their location and probably do better advertisement strategies.  
      </p></blockquote>
      <img src="../img/ccny.png" class="col-md-4">
    </div>
  </div>

  <div class="about-owners">
    <h2 class="about-heading">Contributions by</h2>
    <ul>
      <li>Juan Mejia</li>
      <li>Rosario Antunez</li>
      <li>Michael Safdieh</li>
    </ul>
  </div>

</div>


<div ng-include="'views/footer.html'"></div>