<div  ng-include = "'views/header.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="img/juan.png" class="contact-img">
            <h3>Juan Mejia</h3>
            <p>BS Computer Science</p>
            <p>jmejia002@citymail.cuny.edu</p>
        </div>

        <div class="col-sm-4">
            <img src="img/rosario.png" class="contact-img">
            <h3>Rosario Antunez</h3>
            <p>BS Computer Science</p>
            <p>rantune000@citymail.cuny.edu</p>
        </div>

        <div class="col-sm-4">
            <img src="img/michael.png" class="contact-img">
            <h3>Michael Safdieh</h3>
            <p>BS Computer Science</p>
            <p>msafdie00@citmail.cuny.edu</p>
        </div>
    </div>
</div>