    <nav class="navbar navbar-default footer" id="nav-bottom">
        <div class="container">
          <div class="row">
            <img src="../img/ccny_logo1.png" class="col-md-4 col-xs-4" width = "60px" height = "100%">

            <div class="owners col-md-4 col-xs-4">
              <!--
              <ul class="owners-list">
                <li class="owners-list-title">Powered by:</li>
                <li>Juan Mejia</li>
                <li>Rosario Antunez</li>
                <li>Michael Safdieh</li>
              </ul>-->
            </div>

            <div class="navbar-brand logo col-md-4 col-xs-4">Crowd_Count++</div>

          </div>  
        </div>
    </nav>