


        <nav class="navbar navbar-default navbar-main" id="nav-top">
          <div class="container">
              <div class="container-fluid">
                <div class="row">
                    <div class="navbar-header col-xs-3">
                      <a class="navbar-brand logo" ui-sref="login">Crowd_Count++</a>
                    </div>

                    <div class="col-xs-4 nav-search">
                      <input class="" type="search" placeholder="Search...">
                      <!-- <input type="text" class="form-control" placeholder="Search for...">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                      </span> -->
                    </div><!-- /input-group -->
                    <div class = "col-xs-5">

                    <ul ng-if = "state =='login'?true:false"class="nav navbar-nav navbar-right">
                        <li><a id="about-tab" class="nav-link" ui-sref="about">About Us</a></li> 

                      <li >
                            <a id="make-query-tab" class="nav-link" ui-sref="contact">Contact</a>
                      </li>
                      
                    </ul>
                    </div>
                    <div></div>

                    <div class = "col-xs-5" ng-if = "(state =='welcome')||(state =='home')||(state =='contact')?true:false">



                    <ul class="nav navbar-nav navbar-right ">


                      <li >
                            <a id="make-query-tab" class="nav-link" ui-sref="contact">Contact</a>
                      </li>
                      <li><a id="about-tab" class="nav-link" ui-sref="about">About Us</a></li> 

                      
                      <li class="dropdown">
                        <a href="" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{username}} <span class="caret"></span></a>
                        <ul class="dropdown-menu">

                          <li><a id="counts" class="nav-link" ng-click  = "Counts()">Counts</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a ng-click = "logout">Log Out</a></li>
                        </ul>
                      </li>
                      <!-- <li><a id="log-out-tab" class="nav-link" ui-sref="login">Log Out</a></li>  -->
                    </ul>

                    </div>




                </div>
              </div>
          </div>
        </nav>
