
<!-- Old page header -->
<!-- <div class = "banner"> 

	<h1  class = "" ui-sref = "login">Crowd_Count++</h1>

</div> -->
  <div  ng-include = "'views/header.html'"></div>

<div id="bkgd-img" class="container top-content">
    <div class = "form row ">
    	<div class = "col-xs-3 col-md-3" >
       		 <select class = "form-control"  ng-model="location" ng-options="option for option in locations">
          	<option value="">-- Location --</option>
        	</select>
    	</div>

        <div class = "col-xs-3 col-md-3">
    		<button ng-click = "submit()"  class = "btn btn-primary" > Count</button>
        </div>

    </div>



    <div ng-show = "available" class = "container">
    	<div class = "row">
    		<div class = "col-xs-3 col-md-3 text">Count</div>
    		<div class = "col-xs-9 col-md-9 text"></div>
    	</div>

    	<div  class = "row container spacing" ng-repeat = 'd in data.records ' >
            <div>

            <div  class = "col-xs-3 " ng-bind = 'd.count'></div>
            <div class = "col-xs-4 ">
                <img class = "image" ng-src="{{d.name}}" alt = "Image not available">
            </div>
            <div class = "col-xs-4 ">
                <img class = "image" ng-src="{{d.background}}" alt = "Image not available">
            </div>


            </div>

    	</div>


    </div>	
</div>
<div ng-include="'views/footer.html'"></div>

