    <div  ng-include = "'views/header.html'"></div>

       <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h2 class = ""><strong>Crowd_Count++</strong></h2>
                            <div class="description">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<!--
                        	<div class="form-top login-Banner">
                        		<div class="form-top-left">
                        			<h3>Login</h3>
                        		</div>
 
                            </div>-->

                            <div class="form-bottom">
			                    <form ng-submit= "submit()" name= "myForm"role="form"  class="login-form">
			                    	<div class="form-group">
			                    		<a ng-show = "user.name.length>0" class="proj-color"></a>
			                    		<label class="sr-only" for="form-username">Username</label>
			                        	<input 
			                        	ng-model = "user.name"
			                        	required
			                        	name = "name"
			                        	type="text"  placeholder="Username..." class="form-username form-control">
			                        	<span ng-show = "myForm.name.$error.required">Username is required</span>

			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-password">Password</label>
			                        	<input 
			                        	ng-model = "user.password"
			                        	required
			                        	type="password"  placeholder="Password..." class="form-password form-control"
			                        	name= "pwd">
			                        	<span ng-show = "myForm.pwd.$error.required">Password is required</span>
			                        </div>
			                        <button 
			                        ng-disabled = "myForm.$invalid"
			                        type="submit" class="btn proj-background">Sign in!</button>
			                    </form>
		                    </div>
		                    <div>
		                    	Don't Have an Account?
		                    	<a ui-sref ="register" class="proj-color">Register</a>
		                    </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 social-login">
                        	<h4>...or login with:</4>
                        	<div class="social-login-buttons">
	                        	<a class="btn btn-link-1 btn-link-1-facebook" href="#">
	                        		<i class="fa fa-facebook"></i> Facebook
	                        	</a>
	                        	<a class="btn btn-link-1 btn-link-1-twitter" href="#">
	                        		<i class="fa fa-twitter"></i> Twitter
	                        	</a>
	                        	<a class="btn btn-link-1 btn-link-1-google-plus" href="#">
	                        		<i class="fa fa-google-plus"></i> Google Plus
	                        	</a>
                        	</div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div ng-include="'views/footer.html'"></div>