    <div  ng-include = "'views/header.html'"></div>

       <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h2 class = "" ui-sref = "login"><strong>Crowd_Count++</strong><h2>
                            <div class="description">
                            </div>
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h3 ><i class = "fa fa-registered"></i><strong>Registration</strong></h3>
                            <div class="description">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-5 col-centered form-box">
                        	<div class="form-top top-icons">
                        		<div class = "col-sm-6">  
									<a href=""><i class = "fa fa-user"></i></a>
                        		</div>
                        		<div class = "col-sm-6">  
									<a href=""><i class = "fa fa-key"></i></a>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <div  name= "register"role="form"  class="login-form">
			                    	<div class="form-group">
			                    		<label class="sr-only" for="form-username">First Name</label>
			                        	<input 
			                        	ng-model = "user.firstname"
			                        	
			                        	name = "name"
			                        	type="text"  placeholder="First Name" class="form-username form-control">
			                        

			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-password">Last Name</label>
			                        	<input 
			                        	ng-model = "user.lastname"
			                       
			                        	type="password"  placeholder="Last Name" class="form-password form-control"
			                        	name= "pwd">
			                        
			                        </div>

			                      	<div class="form-group">
			                        	<label class="sr-only" for="form-password">User Name</label>
			                        	<input 
			                        	ng-model = "user.username"
			                        	
			                        	type="password"  placeholder="username" class="form-password form-control"
			                        	name= "pwd">
			                 
			                        </div>
			                      	<div class="form-group">
			                        	<label class="sr-only" for="form-password">Email</label>
			                        	<input 
			                        	ng-model = "user.email"
			                        	
			                        	type="text"  placeholder="Email" class="form-password form-control"
			                        	name= "pwd">
			                        
			                        </div>			                        
			                      	<div class="form-group">
			                        	<label class="sr-only" for="form-password">Password</label>
			                        	<input 
			                        	ng-model = "user.password"
			                        	
			                        	type="password"  placeholder="password" class="form-password form-control"
			                        	name= "pwd">
			                        	
			                        </div>
			                      	<div class="form-group">
			                        	<label class="sr-only" for="form-password">Comfirm Password</label>
			                        	<input 
			                        	ng-model = "user.comfirmpassword"
			                        	
			                        	type="password"  placeholder="confirm password" class="form-password form-control"
			                        	name= "pwd">
			                        	
			                        </div>
			                        <button ng-click = "register()" class="btn btn-success btn-block proj-background">Register</button>
			                    </div>
		                    </div>
                        </div>
                        <!--
						<div class = "col-sm-6">
                    	<div class="form-top login-Banner">
                        		<div class="form-top-left">
                        			<h3>Login</h3>
                        		</div>
 
                            </div>
                            
                            <div class="form-bottom">
			                    <form ng-submit= "submit()" name= "myForm"role="form"  class="login-form">
			                    	<div class="form-group">
			                    		<a ng-show = "user.name.length>0" >{{'Hello '+ user.name}}</a>
			                    		<label class="sr-only" for="form-username">Username</label>
			                        	<input 
			                        	ng-model = "user.name"
			                        	required
			                        	name = "name"
			                        	type="text"  placeholder="Username..." class="form-username form-control">
			                        	<span ng-show = "myForm.name.$error.required">Username is required</span>

			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-password">Password</label>
			                        	<input 
			                        	ng-model = "user.password"
			                        	required
			                        	type="password"  placeholder="Password..." class="form-password form-control"
			                        	name= "pwd">
			                        	<span ng-show = "myForm.pwd.$error.required">Password is required</span>
			                        </div>
			                        <button 
			                        ng-disabled = "myForm.$invalid"
			                        type="submit" class="btn">Sign in!</button>
			                    </form>
		                    </div>-->
		                    
                        </div>
                    </div>



                    </div>
                    


                    </div>
                </div>
            </div>
            
        </div>


        <div ng-include="'views/footer.html'"></div>