    <div  ng-include = "'views/header.html'"></div>

       <div class="top-content">

          <div class   = "row">

            <div class = "col-xs-6">
              <h1 >{{"Welcome " + username +"!" }} </h1>

              <div class ="btn btn-success" ui-sref = "home">Count</div>
            </div>
            <div class = "col-xs-6">

              <img src="img/HAARS-MAX.png" width = "60%">
              <div class = "counts">Crowd Count = 7</div>



            </div>

          </div>
        </div>
<div ng-include="'views/footer.html'"></div>