.top-icons{
	padding-left: 0px;
	padding-right: 0px
	background-color: navajowhite;
	text-align: center;
	border:1px solid green;
	
}
.paragraph{
    text-align: justify;
}
.login-Banner{
	background: navajowhite;
	border: 1px solid #ccb3ff;
	background-color: white;

}

.banner{
	width: 100%;
	background-color: #ccb3ff;
	border-radius: 10px;
}
.banner>*{
	color:white;
	text-align: center;
}

.image{
	width: 20em;
	height: 20em;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.logo {
	font-size: 30px;
	font-family: courier;
    color: white !important;
}

.navbar-main {
	/*background-color: #33cc33;*/
}

.about-heading{
	font-weight: bold;
}

.crowd_count{
	font-family: courier;
}

.about-owners ul{
	list-style: none;
	margin-right: 40px;
}

.blank{
	height: 50px;
}

#nav-top {
    background-color: #8267B8;
    border: none;
    border-radius: 0;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: #8267B8 !important;
    background-color: white !important;
}

#bkgd-img {
    background-image: url("../img/ccny.png") no-repeat;
}

#nav-bottom {
    background-color: #8267B8;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}

.proj-background {
    background-color: #8267B8 !important;
}
#counts{

    color:black !important;
}
.counts{
    text-align: center;
    font-weight: bold;
    color: black;
}
.proj-color {
    color: #8267B8;
}

.nav-search {
    margin-top: 7px;
}

.nav-search>input {
    border: none;
    border-radius: 5px;
}

.nav-submit {
    background-color: #8267B8;
    color: white;
}

.owners-list {
    list-style: none;
}

.owners-list li {
    color: white;
}

.owners-list-title {
    font-weight: bold;
}

.bottom{

}
.footer{
    position:fixed;
   left:0px;
   bottom:0px;
   height:100px;
   width:100%;
   background:#999;
}

.contact-img {
    height: 240px;
    width: 240px;
}
.spacing{
    padding-bottom: 20px;

}
.text{
    font-weight: bold;
    font-size: 20px;
    color:black !important;
}


